@inherits BookBase
@attribute [Authorize("Admin")]

        <BlazoredModalContent>
            
            <div class="modal-body">
                <p>Are you sure you want to delete the following categories?</p>
                <ul>
                    @foreach (var bookName in SelectedBookNames)
                    {
                        <li>@bookName</li>
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
                <button class="btn btn-danger" @onclick="Delete">Delete</button>
            </div>
        </BlazoredModalContent>


 @code{
    [Parameter] public List<string> SelectedBookNames { get; set; }
}
 
